@import "./../../../../assets/scss/abstracts/variables";

.rules-collapse {
  margin-top: 1rem;
  padding: 2rem;
  background-color: $color-white;
  border-radius: 1rem;
  border: 0.175rem solid $color-border-gray;

  &>.collpase-header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &>span {
      font-size: 1.4rem;
      font-weight: 800;
    }

    &>img {
      cursor: pointer;
    }
  }
}
