@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin absCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// MEDIA QUERY MANAGER
/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop
$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop
ORDER: Base + typography > general layout + grid > page layout > components
1em = 16px
*/

@mixin respond($breakpoint) {
  @if $breakpoint==smallphone {
    @media only screen and (max-width: 25rem) {
      @content;
    }

    //400px
  }

  @if $breakpoint==medium-phone {
    @media only screen and (max-width: 31.25rem) {
      @content;
    }

    //500px
  }

  @if $breakpoint==phone {
    @media only screen and (max-width: 37.5em) {
      @content;
    }

    //600px
  }

  @if $breakpoint==responsive-mode {
    @media only screen and (max-width: 48em) {
      @content;
    }

    //768px
  }

  @if $breakpoint==tab-port {
    @media only screen and (max-width: 56.25em) {
      @content;
    }

    //900px
  }

  @if $breakpoint==tab-land {
    @media only screen and (max-width: 75em) {
      @content;
    }

    //1200px
  }

  @if $breakpoint==big-desktop {
    @media only screen and (min-width: 112.5em) {
      @content;
    }

    //1800
  }

  //custom sizes
  @if $breakpoint==width-991 {
    @media only screen and (max-width: 61.9375em) {
      @content;
    }

    //991
  }

  //custom sizes
  @if $breakpoint==width-1077 {
    @media only screen and (max-width: 67.3125em) {
      @content;
    }

    //1077
  }

  @if $breakpoint==width-1342 {
    @media only screen and (max-width: 83.875em) {
      @content;
    }

    //1342
  }

  @if $breakpoint==width-1433 {
    @media only screen and (max-width: 89.5625em) {
      @content;
    }

    //1433
  }
}
