// COLORS
$color-primary:#28211e;
$color-white:#ffffff;
$color-golden:#ffd54f;
$color-input-gray:#c5c4c2;
$color-gray: #616161;
$color-gray-2:#eeeeee;
$color-dark-gray:#757575;
$color-bg-gray:#f9f9f9;
$color-border-gray:#e0e0e0;
$color-gray-7:#acaaa7;
$color-gray-8:#929292;
$color-dark:#343434;
$color-black:#2e2e2e;
$color-black-2:#212121;
$color-black-3:#424242;
$color-blue:#4fadff;
$color-red:#fc3939;
