<nav class="nav">
    <img src="./../../../assets/icon/cube-3d.svg" width="25px" alt="">

    <div class="acc">
        <p>بهمن عظیمی</p>
        <img src="../../../assets/icon/user1.svg" alt="">
    </div>
</nav>