@import "./../../../assets/scss/abstracts/variables";
@import "./../../../assets/scss/abstracts/mixins";
.nav {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #76A33E;
    height: 4rem;
}

.acc {
    position: absolute;
    right: 10%;
    justify-self: right;
    justify-content: right;
}

.acc img {
    width: 1.5rem;
}

.acc p {
    display: inline;
    font-size: 1rem;
    margin-right: 1rem;
    font-family: BYekan;
    color: #fff;
}

@include respond(phone) {}