<body>

    <form action="" method="post">
        <br><br><br><br>
        <legend>ورود</legend>


        <input type="text" name="" id="" class="mail_icon" placeholder="ایمیل یا شماره تلفن">

        <input type="Password" name="" id="" class="lock_icon" placeholder="رمز عبور"><br>
        <a href="/#">رمزمو یادم رفته</a>
        <input [routerLink]="['/home']" type="submit" value="ورود">


    </form>