@import "./../../../../../assets/scss/abstracts/variables";
.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    background-color: #ebebeb;
    height: 70vh;
}

form {
    margin: auto;
    text-align: center;
}

input {
    display: block;
    margin: auto;
}

legend {
    font-size: 1.8rem;
    font-family: BYekan;
    color: #999;
    margin-bottom: 4rem;
}

input[type=text],
input[type=password] {
    height: 4rem;
    width: 25rem;
    min-width: 150px;
    border: none;
    margin-top: 1rem;
    font-size: 1.4rem;
    font-family: Nunito;
    padding-left: 1.5rem;
    padding-right: 3rem;
    border-radius: 0.2rem;
}

.mail_icon {
    background: url(./../../../../../assets/icon/email.svg);
    background-repeat: no-repeat;
    background-position: right 3% bottom 50%;
    background-size: 1.6rem;
    background-color: #fff;
}

.lock_icon {
    background: url(./../../../../../assets/icon/lock.svg);
    background-repeat: no-repeat;
    background-position: right 3% bottom 50%;
    background-size: 1.8rem;
    background-color: #fff;
}

.lock_icon:focus {
    background: url(./../../../../../assets/icon/lock-focus.svg);
    background-repeat: no-repeat;
    background-position: right 3% bottom 50%;
    background-size: 1.8rem;
    background-color: #fff;
}

.mail_icon:focus {
    background: url(./../../../../../assets/icon/email-focus.svg);
    background-repeat: no-repeat;
    background-position: right 3% bottom 50%;
    background-size: 1.6rem;
    background-color: #fff;
}

::placeholder {
    color: #ccc;
    font-size: 1.2rem;
    font-family: BYekan;
    text-align: right;
}

input[type=submit] {
    background-color: #78a23e;
    padding: 1rem;
    font-size: 1.2rem;
    font-family: BYekan;
    border: none;
    width: 9rem;
    color: #fff;
    border-radius: 2rem;
    margin-top: 5rem;
}

input[type=submit]:hover {
    background-color: #e68b00;
    transition: 0.5s;
}

form a {
    font-size: 1.2rem;
    font-family: BYekan;
    text-decoration: underline;
    color: #777;
    margin-left: 12rem;
}

form a:hover {
    color: #bbb;
    transition: 0.5s;
}

input:focus {
    outline: none;
    transition: 0.5;
}