@import "./../../../../../assets/scss/abstracts/variables";
@import "./../../../../../assets/scss/abstracts/mixins";

.responsive-about-us {
  background-color: $color-bg-gray;
  padding: 4rem;

  &>.about-us-heading-container {

    &>.about-us-heading {
      text-align: center;

      &>.main {
        font-size: 2.7rem;
        color: $color-primary;
        font-weight: bold;
      }

      &>.sub {
        text-align: justify;
        color: $color-gray;
        font-size: 1.6rem;
        line-height: 3rem;
      }
    }
  }

  &>.features {
    margin-top: 4rem;

    &>.row {
      &:last-child {
        padding-top: 2rem;
      }

      &>.feature {
        display: flex;
        width: 46%;
        margin: 0 auto;

        &>.icon-wrapper {
          margin-right: 1.5rem;
        }

        &>.detail {

          &>.title {
            font-size: 1.8rem;
            font-weight: bold;
            color: $color-primary;
          }

          &>.description {
            font-size: 1.3rem;
            color: $color-gray;
            text-align: justify;
            line-height: 2.3rem;
          }
        }
      }
    }
  }
}

@include respond(responsive-mode) {
  .responsive-about-us .features .row {
    &>.feature {
      flex-direction: column;
      text-align: center !important;
      width: 100%;
      max-width: 100%;

      &:last-child {
        margin-top: 2rem;
      }
    }
  }
}
