<body>

    <div class="home_header">

        <div class="space"></div>
        <div class="space"></div>

        <div class="acc">
            <p class="text_small color_white">بهمن عظیمی</p>
            <img src="../../../assets/icon/user1.svg" alt="">

        </div>

        <div class="head">
            <img src="../../../assets/icon/cube-3d.svg" alt="">
            <p class="text_normal color_white">بوفه</p>
        </div>
        <div class="tab">
            <div class="container">
                <div class="row justify-content-end">

                    <div class="col-md1">
                        <div class="tab2">
                            <p>نوع دوم</p>
                        </div>
                    </div>
                    <div class="col-md1">
                        <div class="tab1">
                            <p>نوع اول</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="row justify-content-end">
                    <div class="col-md3">
                        <div class="tab-content">
                            <button class="btn2">جستجو</button>
                            <input type="text" name="" id="" class="input1" placeholder="دنبال چه ای؟">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




    <div class="section1">
        <img src="../../../assets/icon/down-arrow.svg" (click)="scroll()" class="arrow" alt="">

        <p class="text_big" style="margin-top: 10rem;">
            10% تخفیف
        </p>

        <p class="text_normal" style="margin-bottom: 10rem;">
            همه رستوران ها،همه غداها
        </p>


        <p class="text_normal color_purple">
            سفارش آنلاین غذا از رستوران های تهران

        </p>

        <p class="text_small color_gray" style="margin-top: 1.5rem;">
            ریحون سرویس سفارش آنلاین غذاست.با ریحون خیلی راحت می تونید هرجای که هستید ،<br>رستوران های اطرافتون رو ببینید وغذاهای مورد علاقتون رو آنلاین سفارش بدید.
        </p>

        <div class="serv">
            <div class="container-fluid">
                <div class="row">

                    <div class="col-md-4">


                        <img src="../../../assets/image/serv3.png" alt="" class="">
                        <p class="text_normal"> آنلاین پرداخت کنید</p>
                        <p class="text_small color_gray">در این مرحله می توانید رستوران و غذای<br>مورد علاقه تان را انتخاب نمایید</p>


                    </div>
                    <div class="col-md-4">

                        <img src="../../../assets/image/serv2.png" alt="" class="">
                        <p class="text_normal"> رستوران و غذای مورد نظرتان را انتخاب کنید</p>
                        <p class="text_small color_gray">در این مرحله می توانید رستوران و غذای<br>مورد علاقه تان را انتخاب نمایید</p>

                    </div>
                    <div class="col-md-4">

                        <img src="../../../assets/image/serv1.png" alt="" class="">
                        <p class="text_normal">نام منطقه خود را وارد کنید</p>
                        <p class="text_small color_gray">در این مرحله می توانید رستوران و غذای<br>مورد علاقه تان را انتخاب نمایید</p>


                    </div>

                </div>
            </div>

        </div>





    </div>

    <dir class="section2">
        <br><br><br><br>
        <p class="text_small color_gray" style="margin-bottom: 3rem;">
            پرسش و پاسخ های متداول
        </p>

        <dir class="box">
            <p class="text_normal color_purple"> چرا از بوفه خرید کنیم؟</p>
            <img src="../../../assets/image/qustion.png" alt="">

            <p class="text_small color_gray">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای
                کاربردی می باشد، کتابهای زیادی در شصت و سه درصد گذشته حال و آینده، شناخت فراوان جامعه و متخصصان را می طلبد، تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی، و فرهنگ پیشرو در زبان فارسی ایجاد کرد، در این
            </p>
        </dir>

        <dir class="box">
            <p class="text_normal color_purple"> چرا از بوفه خرید کنیم؟</p>
            <img src="../../../assets/image/qustion.png" alt="">

            <p class="text_small color_gray">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای
                کاربردی می باشد، کتابهای زیادی در شصت و سه درصد گذشته حال و آینده، شناخت فراوان جامعه و متخصصان را می طلبد، تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی، و فرهنگ پیشرو در زبان فارسی ایجاد کرد، در این
            </p>
        </dir>


        <dir class="box">
            <p class="text_normal color_purple"> چرا از بوفه خرید کنیم؟</p>
            <img src="../../../assets/image/qustion.png" alt="">
            <p class="text_small color_gray">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای
                کاربردی می باشد، کتابهای زیادی در شصت و سه درصد گذشته حال و آینده، شناخت فراوان جامعه و متخصصان را می طلبد، تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی، و فرهنگ پیشرو در زبان فارسی ایجاد کرد، در این
            </p>
        </dir>

        <div class="space"></div>

    </dir>


    <dir class="section3">

        <p class="text_normal" style="text-align: right; margin-right: 20%; margin-top: 8rem;">
            سفارشت رو همین الان شروع کن
        </p>
        <p class="text_small color_gray" style="text-align: right; margin-right: 20%;">
            برای دریافت لینک دانلود اپلیکشن ریحون،شماره موبایل خود را وارد کنید
        </p>

        <div class="app_number">
            <input type="text" name="" id="" class="pish" placeholder="+98">
            <input type="text" name="" id="" class="phone_number" placeholder="912*****55">
            <button class="btn">دریافت لینک</button>
        </div>
        <div class="img11">


            <img src="../../../assets/image/googleplay.png" class="img1" alt="" [align]="'right'">
            <img src="../../../assets/image/appstore.png" class="img1" alt="" [align]="'right'">
        </div>


        <img src="../../../assets/image/mobile.png" class="img2" alt="">


    </dir>


    <div class="section4">
        <br><br><br><br>
        <p class="text_small color_gray" style="margin-bottom: 3rem;">
            ریحون و افکار عمومی
        </p>


        <div class="container">
            <div class="row text-center justify-content-center">
                <div class="col-md-4">
                    <div class="card">
                        <img class="card-img-top img-circle rounded-circle" src="../../../assets/image/person1.jpg" alt="">
                        <div class="card-block">
                            <h4 class="card-title text_small color_gray">ساسان </h4>

                            <p class="card-text text_small">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف
                                بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در شصت و سه درصد گذشته حال و آینده.</p>
                            <a matTooltip="Twitter username"><img src="../../../assets/icon/twitter 2.svg" alt="" width="20rem"></a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card">
                        <img class="card-img-top img-circle rounded-circle" src="../../../assets/image/person2.jpg" alt="">
                        <div class="card-block">
                            <h4 class="card-title text_small color_gray">امید</h4>
                            <p class="card-text text_small">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف
                                بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در شصت و سه درصد گذشته حال و آینده.</p>

                            <a matTooltip="Twitter username"><img src="../../../assets/icon/twitter 2.svg" alt="" width="20rem"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="space"></div>


        <img src="../../../assets/image/jashnvare.png" alt="" class="img3" style="width: 15rem;">


    </div>

    <div class="section5">

        <br><br><br><br>

        <p class="text_normal color_white">
            مدیران رستوران

        </p>

        <p class="text_small color_white" style="margin-top: 2rem; margin-bottom: 3rem;">
            در بوفه با هزینه کم تری بیشتر شناخته می شوید و مشتریان بیشتری پیدا می کنید
        </p>


        <button class="btn1">ثبت رستوران</button>
        <div class="space"></div>

    </div>


    <div class="section6" id="section6">

        <br><br><br><br>
        <p class="text_small color_gray" style="margin-bottom: 3rem;">
            بوفه در خبرگزاری ها
        </p>


        <img src="../../../assets/image/khabar.png" alt="" class="img3" style="width: 60%;">
        <div class="space"></div>

    </div>