    .home_header {
        background: url(../../../assets/image/home-bg.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 60vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    
    .acc {
        position: absolute;
        right: 10%;
        justify-self: right;
        align-self: flex-start;
        justify-content: right;
        margin-top: 2rem;
    }
    
    .acc img {
        width: 1.5rem;
    }
    
    .acc p {
        display: inline;
        font-size: 1rem;
        margin-right: 1rem;
    }
    
    .head {
        flex-basis: 100%;
        height: 10rem;
    }
    
    .head img {
        display: block;
        margin: auto;
        width: 4rem;
    }
    
    .tab1 p,
    .tab2 p,
    .tab2,
    .tab1 {
        display: inline;
    }
    
    .tab2 {
        background-color: #aaa;
        padding: 1rem;
        padding-right: 2rem;
        padding-left: 2rem;
    }
    
    .tab1 {
        background-color: #fff;
        padding: 1rem;
        padding-right: 2rem;
        padding-left: 2rem;
    }
    
    .tab-content {
        background-color: #fff;
        width: fit-content;
    }
    
    .section1 {
        background-color: #fff;
        height: fit-content;
    }
    
    p {
        font-family: BYekan;
        direction: rtl;
        color: #000;
        text-align: center;
    }
    
    .text_big {
        font-size: 4rem;
        font-weight: bolder;
    }
    
    .text_normal {
        font-size: 1.6rem;
        font-weight: bolder;
    }
    
    .text_small {
        font-size: 1.2rem;
        margin-top: 2rem;
    }
    
    .color_purple {
        color: #7f52d1;
    }
    
    .color_gray {
        color: #96959a;
    }
    
    .color_white {
        color: #eeeeee;
    }
    
    .serv {
        margin-top: 8rem;
        margin-bottom: 8rem;
        display: flex;
    }
    
    .serv img {
        width: 15rem;
        display: block;
        margin: auto;
    }
    
    .section2 {
        background-color: #f8f8f8;
    }
    
    .box {
        width: 60%;
        background-color: #fff;
        border: 1px solid #ccc;
        margin: auto;
        border-radius: 0.5rem;
        margin-top: 2rem;
    }
    
    .box p {
        text-align: right;
        margin: 2rem;
        line-height: 2rem;
    }
    
    .box img {
        float: right;
        width: 5rem;
        vertical-align: middle;
        margin: 2rem;
    }
    
    .section3 {
        background-color: #fff;
        height: fit-content;
    }
    
    .app_number input[type=text] {
        outline: none;
        height: 4.5rem;
    }
    
    .app_number input[type=text]:focus {
        outline: none;
    }
    
    .app_number button {
        border: none;
        outline: none;
        height: 5rem;
        width: 8rem;
        background-color: #7f52d1;
        border-radius: 0 1rem 1rem 0;
        font-size: 1rem;
        font-family: BYekan;
        color: #fff;
    }
    
    .app_number {
        border: 1px solid #aaa;
        width: fit-content;
        border-radius: 1.2rem;
        height: 5rem;
        float: right;
        clear: right;
        margin-right: 20%;
    }
    
    .img1 {
        width: 13rem;
        margin-right: 20%;
        margin-top: 1rem;
        margin-bottom: 1rem;
        clear: right;
    }
    
    .img2 {
        width: 25rem;
        margin-left: 20%;
    }
    
    .phone_number {
        border: none;
        border-left: 1px solid #aaa;
        padding-left: 1rem;
        padding-right: 1rem;
        font-size: 1.4rem;
    }
    
    .phone_number:focus {
        border-left: 1px solid #aaa;
    }
    
    .pish {
        border: none;
        width: 6rem;
        padding-left: 1rem;
        padding-right: 1rem;
        border-radius: 1.2rem;
        height: 3rem;
        font-size: 1.4rem;
    }
    
     ::placeholder {
        font-size: 1.4rem;
    }
    
    .space {
        height: 8rem;
    }
    
    .section4 {
        background-color: #f8f8f8;
    }
    
    .card-img-top {
        position: absolute;
        top: -5rem;
        left: 50%;
        margin-left: -5rem;
        width: 10rem !important;
        height: 10rem;
    }
    
    .card {
        margin-top: 5rem;
        padding-top: 5rem;
        box-shadow: 0 10px 20px rgba(0, 0, 0, .2);
        border-radius: 1rem;
    }
    
    .card-title {
        font-family: BYekan;
    }
    
    .card-text {
        padding-right: 4rem;
        padding-left: 4rem;
        padding-bottom: 3rem;
        font-size: 1rem;
        font-weight: bold;
    }
    
    .card-block a img {
        margin-bottom: 3rem;
    }
    
    .img3 {
        display: block;
        margin: auto;
    }
    
    .section5 {
        background-image: linear-gradient(#984fba, #6e48ab);
    }
    
    .btn1 {
        background-color: #fff;
        color: #6e48ab;
        border-radius: 0.5rem;
        box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
        display: block;
        margin: auto;
        font-size: 1.4;
        font-family: BYekan;
        padding: 1rem;
        border: 1px solid #6e48ab;
        width: 20rem;
    }
    
    .btn1:hover {
        color: #fff;
        background-color: #6e48ab;
        border: 1px solid #fff;
        transition: 0.5s;
    }
    
    .section6 {
        background-color: #f8f8f8;
    }
    
    .btn2 {
        background-color: #e68a01;
        color: #fff;
        border: 1px solid #fff;
        padding: 1rem;
        margin: 1rem;
        width: 10rem;
        font-family: BYekan;
    }
    
    .btn2:hover {
        background-color: #fff;
        color: #e68a01;
        border: 1px solid #e68a01;
        transition: 0.5s;
    }
    
    .input1 {
        background-color: #f5f5f5;
        border: none;
        outline: none;
        height: 3rem;
        width: 25rem;
        margin: 1rem;
        font-size: 1.6rem;
        direction: rtl;
        font-family: BYekan;
    }
    
    .input1::placeholder {
        font-size: 1rem;
        color: #aaa;
    }
    
    .arrow {
        width: 2rem;
        color: #6e48ab;
        display: block;
        margin: auto;
        margin-top: 1rem;
        cursor: pointer;
    }