// ================ custom checkbox ================
/* Customize the label (the container) */
.check-container {
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
  width: fit-content !important;
}

.check-container .input-wrapper {
  margin-right: 2.5rem;
}

/* Hide the browser's default checkbox */
.check-container .input-wrapper input {
  opacity: 0;
  display: none;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0.3rem;
  height: 1.5rem;
  width: 1.5rem;
  background-color: transparent;
  border-radius: 0.3rem;
  border: 0.165rem solid $color-dark-gray;
}

/* When the checkbox is checked, add a blue background */
.check-container .input-wrapper input:checked~.checkmark {
  background-color: $color-blue;
  border: 0.165rem solid $color-blue;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.check-container .input-wrapper input:checked~.checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.check-container .input-wrapper .checkmark:after {
  left: 0.3rem;
  top: 0px;
  width: 0.5rem;
  height: 1rem;
  border: solid $color-white;
  border-width: 0 0.3rem 0.3rem 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

// End ================ custom checkbox ================





// ================ custom radio button ================
/* The container */
.radio-container {
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}

/* Hide the browser's default radio button */
.radio-container input {
  position: absolute;
  display: none;
  opacity: 0;
  cursor: pointer;
}

.radio-container .radio-label {
  margin-left: 1rem;
  font-size: 1.4rem;
  font-weight: 800;
}

/* Create a custom radio button */
.radio-mark {
  position: relative;
  top: 0;
  left: 0;
  height: 1.6rem;
  width: 1.6rem;
  border: 0.165rem solid $color-golden !important;
  border-radius: 50%;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.radio-mark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.radio-container input:checked~.radio-mark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.radio-container .radio-mark:after {
  position: absolute;
  top: 50%;
  left: 49%;
  transform: translate(-50%, -50%);
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background: $color-golden;
}

// End ================ custom radio button ================
