@import "./../../../assets/scss/abstracts/variables";

.owl-carousel .owl-stage-outer .owl-stage {
  display: flex !important;
  height: 26.5rem !important;

  &>.owl-item {
    &:hover {
      transform: scale(1.1, 1.1);

      &>img {
        filter: grayscale(0);
      }

      &>.detail {
        &>.car-title {
          color: $color-golden;
        }
      }
    }

    position: relative !important;
    margin: auto 1rem;
    width: 31.5rem;
    height: 23.5rem;
    transition: transform .5s;

    &>img {
      position: absolute !important;
      height: 100% !important;
      object-fit: cover !important;
      filter: grayscale(100%);
      transition: transform .5s;
    }

    &>.detail {
      position: absolute !important;
      bottom: 0;
      left: 0;
      color: $color-white;
      padding: 1rem;

      &>.car-title {
        font-size: 2.5rem;
        font-weight: bold;
      }

      &>.key-value {
        margin-top: 1rem;

        &>.key,
        .value {
          font-size: 1.2rem;
          font-weight: bold;
        }

        &>.key {
          margin-right: 5rem;
        }
      }
    }
  }
}
