@import "./../abstracts/variables";

.mat-input-element {
  width: 100%;
  border: 0.15rem solid $color-white;
  height: 38px !important;
  background-color: transparent !important;
  outline: none !important;
  border-radius: 0.4rem;
  padding: 0 3.5rem 0 1rem;
  font-size: 1.4rem !important;
  color: $color-golden !important;
  font-weight: 600;

  &::placeholder {
    font-weight: normal !important;
    color: $color-input-gray !important;
  }
}

.mat-calendar-body-selected {
  background-color: $color-golden !important;
}
