@import "./../../../assets/scss/abstracts/variables";

.ng5-slider-pointer {
  width: 1.5rem !important;
  height: 1.5rem !important;
  background-color: $color-golden !important;
  top: 50% !important;
  transform: translateY(-50%);
  outline: none !important;

  &::after {
    content: none !important;
  }
}

.ng5-slider-selection-bar .ng5-slider-selection {
  background-color: $color-golden !important;
}

.ng5-slider-bubble {
  background-color: $color-black-3 !important;
  border-radius: 0.5rem;
  color: $color-white !important;
  font-size: 1.2rem !important;
  padding: 0 0.5rem !important;
  font-weight: 800;
}

.ng5-slider-floor,
.ng5-slider-ceil {
  display: none !important;
}
