@import "./../abstracts/variables";

.ng-select {
  min-width: 100% !important;
  width: 100% !important;
  border: 0.15rem solid $color-white;
  border-radius: 0.4rem;
}

.ng-select-container {
  background-color: transparent !important;
  border: none !important;
}

.ng-placeholder {
  font-size: 1.4rem !important;
  color: $color-input-gray !important;
}

.ng-arrow-wrapper {
  padding-top: 0.5rem;
  margin-right: 0.75rem !important;
  color: $color-input-gray !important;
}

.ng-placeholder,
.ng-input {
  position: absolute !important;
  top: 50% !important;
  transform: translateY(-50%) !important;
}

.ng-option-label {
  font-size: 1.4rem !important;
  color: $color-primary !important;
}

.ng-input input {
  font-size: 1.4rem !important;
  color: $color-input-gray !important;
}

.ng-value-label {
  font-size: 1.4rem !important;
  font-weight: 600;
  color: $color-golden !important;
}

.ng-select .ng-clear-wrapper {
  display: none !important;
}
