@import "./../../../assets/scss/abstracts/variables";
.footer {
    background-color: #fff;
    height: 5rem;
    max-height: 5rem;
}

.footer_menu li {
    display: inline;
    list-style: none;
    margin: 1rem;
    text-align: center;
}

.footer_menu a {
    color: #a9a9a9;
    font-size: 1.2rem;
    font-family: BYekan;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer_social li {
    display: inline;
    list-style: none;
    margin: 0.5rem;
    margin-top: 2rem;
}

.footer_social img {
    width: 2rem;
}