<footer class="footer">

    <ul class="footer_social center">
        <li>
            <a><img src="./../../../assets/icon/instagram-round.svg" alt=""></a>
        </li>
        <li>
            <a><img src="./../../../assets/icon/twitter-round.svg" alt=""></a>
        </li>
        <li>
            <a><img src="./../../../assets/icon/linkedin-round.svg" alt=""></a>
        </li>
        <li>
            <a><img src="./../../../assets/icon/facebook-round.svg" alt=""></a>
        </li>
        <li>
            <a><img src="./../../../assets/icon/email-round.svg" alt=""></a>
        </li>

    </ul>



    <ul class="footer_menu center">
        <li><a href="/#">تماس با ما</a></li>
        <li><a href="/#">قوانین و مقررات</a></li>
        <li><a href="/#">بلاگ</a></li>
        <li><a href="/#">درباره ما</a></li>
        <li><a href="/#">سوالات متداول</a></li>




    </ul>


</footer>