.home_header {
    background: url(../../../assets/image/home-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tab1 p,
.tab2 p,
.tab2,
.tab1 {
    display: inline;
}

.tab2 {
    background-color: #aaa;
    padding: 1rem;
    padding-right: 2rem;
    padding-left: 2rem;
}

.tab1 {
    background-color: #fff;
    padding: 1rem;
    padding-right: 2rem;
    padding-left: 2rem;
}

.tab-content {
    background-color: #fff;
    width: fit-content;
}

p {
    font-family: BYekan;
    direction: rtl;
    color: #000;
}

.btn2 {
    background-color: #e68a01;
    color: #fff;
    border: 1px solid #fff;
    padding: 1rem;
    margin: 1rem;
    width: 10rem;
    font-family: BYekan;
}

.btn2:hover {
    background-color: #fff;
    color: #e68a01;
    border: 1px solid #e68a01;
    transition: 0.5s;
}

.input1 {
    background-color: #f5f5f5;
    border: none;
    outline: none;
    height: 3rem;
    width: 25rem;
    margin: 1rem;
    font-size: 1.6rem;
    direction: rtl;
    font-family: BYekan;
}

.input1::placeholder {
    font-size: 1rem;
    color: #aaa;
}

.content {
    background-color: #f5f5f5;
}

.box {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
    margin-top: 3rem;
}

.box:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, .2);
    transition: 0.5s;
}

.box-img {
    height: 25rem;
    width: 100%;
    padding: 1rem;
    display: block;
    margin: auto;
    border-radius: 3rem;
    margin-top: 1rem;
}

.text-normal {
    text-align: center;
    font-family: Byekan;
    font-size: 1.4rem;
}

.text-big {
    text-align: center;
    font-family: Byekan;
    font-size: 1.8rem;
    font-weight: bolder;
}

.star {
    display: flex;
    justify-content: center;
    align-items: center;
}

.star img {
    width: 2rem;
}

.color-gray {
    color: #333333;
}

.color-gray2 {
    color: #9e9e9e;
}

.lbl {
    color: #fff;
    border-radius: 0.5rem;
    font-size: 1.6rem;
    font-family: BYekan;
    background-color: #ea1e63;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin-top: 1.2rem;
    margin-left: 1rem;
}

.label {
    display: flex;
    justify-content: center;
}

.label1 {
    background-color: #3ca853;
    color: #fff;
    font-size: 1.4rem;
    font-family: BYekan;
    border-radius: 5rem;
    width: 15rem;
    text-align: center;
    padding: 0.5rem;
    margin: 1rem;
    margin-bottom: 2rem;
}

.label2 {
    background-color: #e69c3b;
    color: #fff;
    font-size: 1.4rem;
    font-family: BYekan;
    border-radius: 5rem;
    width: 15rem;
    text-align: center;
    padding: 0.5rem;
    margin: 1rem;
    margin-bottom: 2rem;
}

.space {
    height: 8rem;
}