<div class="home_header">

    <div class="space"></div>
    <div class="space"></div>
    <div class="tab">

        <div class="container">
            <div class="row justify-content-end">

                <div class="col-md1">
                    <div class="tab2">
                        <p>نوع دوم</p>
                    </div>
                </div>
                <div class="col-md1">
                    <div class="tab1">
                        <p>نوع اول</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row justify-content-end">
                <div class="col-md3">
                    <div class="tab-content">
                        <button class="btn2">جستجو</button>
                        <input type="text" name="" id="" class="input1" placeholder="دنبال چه ای؟">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="content">


    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-4">
                <div class="box">
                    <br>
                    <img src="../../../assets/image/search (4).jpg" alt="" class="box-img">
                    <br>
                    <p class="text-big color-gray">پرتقال تامسون</p>


                    <div class="star">
                        <img src="../../../assets/icon/star-checked.svg">
                        <img src="../../../assets/icon/star-checked.svg">
                        <img src="../../../assets/icon/star-checked.svg">
                        <img src="../../../assets/icon/star-checked.svg">
                        <img src="../../../assets/icon/star.svg">

                        <p class="lbl">31</p>
                    </div>

                    <p class="text-normal color-gray2">ورامین،چهار راه دوم</p>

                    <div class="label">

                        <p class="label1">صد در صد طبیعی</p>
                        <p class="label2">شش ماه ضمانت</p>

                    </div>

                </div>

            </div>


            <div class="col-md-3">
                <div class="box">
                    <br>
                    <img src="../../../assets/image/search (2).jpg" alt="" class="box-img">
                    <br>
                    <p class="text-big color-gray">پرتقال تامسون</p>


                    <div class="star">
                        <img src="../../../assets/icon/star-checked.svg">
                        <img src="../../../assets/icon/star-checked.svg">
                        <img src="../../../assets/icon/star-checked.svg">
                        <img src="../../../assets/icon/star-checked.svg">
                        <img src="../../../assets/icon/star.svg">

                        <p class="lbl">31</p>
                    </div>

                    <p class="text-normal color-gray2">ورامین،چهار راه دوم</p>

                    <div class="label">


                        <p class="label2">شش ماه ضمانت</p>

                    </div>

                </div>

            </div>




            <div class="col-md-3">
                <div class="box">
                    <br>
                    <img src="../../../assets/image/search (3).jpg" alt="" class="box-img">
                    <br>
                    <p class="text-big color-gray">پرتقال تامسون</p>


                    <div class="star">
                        <img src="../../../assets/icon/star-checked.svg">
                        <img src="../../../assets/icon/star-checked.svg">
                        <img src="../../../assets/icon/star-checked.svg">
                        <img src="../../../assets/icon/star-checked.svg">
                        <img src="../../../assets/icon/star.svg">

                        <p class="lbl">31</p>
                    </div>

                    <p class="text-normal color-gray2">ورامین،چهار راه دوم</p>

                    <div class="label">


                        <p class="label2">شش ماه ضمانت</p>

                    </div>

                </div>

            </div>




        </div>
    </div>



    <div class="container-fluid">
        <div class="row justify-content-center">



            <div class="col-md-3">
                <div class="box">
                    <br>
                    <img src="../../../assets/image/search (2).jpg" alt="" class="box-img">
                    <br>
                    <p class="text-big color-gray">پرتقال تامسون</p>


                    <div class="star">
                        <img src="../../../assets/icon/star-checked.svg">
                        <img src="../../../assets/icon/star-checked.svg">
                        <img src="../../../assets/icon/star-checked.svg">
                        <img src="../../../assets/icon/star-checked.svg">
                        <img src="../../../assets/icon/star.svg">

                        <p class="lbl">31</p>
                    </div>

                    <p class="text-normal color-gray2">ورامین،چهار راه دوم</p>

                    <div class="label">


                        <p class="label2">شش ماه ضمانت</p>

                    </div>

                </div>

            </div>



            <div class="col-md-4">
                <div class="box">
                    <br>
                    <img src="../../../assets/image/search (4).jpg" alt="" class="box-img">
                    <br>
                    <p class="text-big color-gray">پرتقال تامسون</p>


                    <div class="star">
                        <img src="../../../assets/icon/star-checked.svg">
                        <img src="../../../assets/icon/star-checked.svg">
                        <img src="../../../assets/icon/star-checked.svg">
                        <img src="../../../assets/icon/star-checked.svg">
                        <img src="../../../assets/icon/star.svg">

                        <p class="lbl">31</p>
                    </div>

                    <p class="text-normal color-gray2">ورامین،چهار راه دوم</p>

                    <div class="label">

                        <p class="label1">صد در صد طبیعی</p>
                        <p class="label2">شش ماه ضمانت</p>

                    </div>

                </div>

            </div>




            <div class="col-md-3">
                <div class="box">
                    <br>
                    <img src="../../../assets/image/search (3).jpg" alt="" class="box-img">
                    <br>
                    <p class="text-big color-gray">پرتقال تامسون</p>


                    <div class="star">
                        <img src="../../../assets/icon/star-checked.svg">
                        <img src="../../../assets/icon/star-checked.svg">
                        <img src="../../../assets/icon/star-checked.svg">
                        <img src="../../../assets/icon/star-checked.svg">
                        <img src="../../../assets/icon/star.svg">

                        <p class="lbl">31</p>
                    </div>

                    <p class="text-normal color-gray2">ورامین،چهار راه دوم</p>

                    <div class="label">


                        <p class="label2">شش ماه ضمانت</p>

                    </div>

                </div>

            </div>




        </div>
    </div>




    <div class="container-fluid">
        <div class="row justify-content-center">



            <div class="col-md-3">
                <div class="box">
                    <br>
                    <img src="../../../assets/image/search (3).jpg" alt="" class="box-img">
                    <br>
                    <p class="text-big color-gray">پرتقال تامسون</p>


                    <div class="star">
                        <img src="../../../assets/icon/star-checked.svg">
                        <img src="../../../assets/icon/star-checked.svg">
                        <img src="../../../assets/icon/star-checked.svg">
                        <img src="../../../assets/icon/star-checked.svg">
                        <img src="../../../assets/icon/star.svg">

                        <p class="lbl">31</p>
                    </div>

                    <p class="text-normal color-gray2">ورامین،چهار راه دوم</p>

                    <div class="label">


                        <p class="label2">شش ماه ضمانت</p>

                    </div>

                </div>

            </div>




            <div class="col-md-3">
                <div class="box">
                    <br>
                    <img src="../../../assets/image/search (2).jpg" alt="" class="box-img">
                    <br>
                    <p class="text-big color-gray">پرتقال تامسون</p>


                    <div class="star">
                        <img src="../../../assets/icon/star-checked.svg">
                        <img src="../../../assets/icon/star-checked.svg">
                        <img src="../../../assets/icon/star-checked.svg">
                        <img src="../../../assets/icon/star-checked.svg">
                        <img src="../../../assets/icon/star.svg">

                        <p class="lbl">31</p>
                    </div>

                    <p class="text-normal color-gray2">ورامین،چهار راه دوم</p>

                    <div class="label">


                        <p class="label2">شش ماه ضمانت</p>

                    </div>

                </div>

            </div>




            <div class="col-md-4">
                <div class="box">
                    <br>
                    <img src="../../../assets/image/search (4).jpg" alt="" class="box-img">
                    <br>
                    <p class="text-big color-gray">پرتقال تامسون</p>


                    <div class="star">
                        <img src="../../../assets/icon/star-checked.svg">
                        <img src="../../../assets/icon/star-checked.svg">
                        <img src="../../../assets/icon/star-checked.svg">
                        <img src="../../../assets/icon/star-checked.svg">
                        <img src="../../../assets/icon/star.svg">

                        <p class="lbl">31</p>
                    </div>

                    <p class="text-normal color-gray2">ورامین،چهار راه دوم</p>

                    <div class="label">

                        <p class="label1">صد در صد طبیعی</p>
                        <p class="label2">شش ماه ضمانت</p>

                    </div>

                </div>

            </div>



        </div>
    </div>


    <div class="space"></div>

</div>