<body>

    <form action="" method="post">
        <br><br>
        <legend>ثبت نام</legend>


        <input type="text" name="" id="" class="user_icon" placeholder="نام کاربری">


        <input type="text" name="" id="" class="mail_icon" placeholder="ایمیل یا شماره تلفن">
        <input type="Password" name="" id="" class="lock_icon" placeholder="رمز عبور">
        <input type="Password" name="" id="" class="lock_icon" placeholder="رمز عبور"><br>
        <label for=""><a href="/#"> قوانین </a> را میپذیرم</label>
        <input type="checkbox" name="" id="">
        <input [routerLink]="['/home']" type="submit" value="ثبت نام">
        <br><br>
    </form>