/* You can add global styles to this file, and also import other style files */

@import "./assets/scss/abstracts/variables";
@import "./assets/scss/abstracts/mixins";
@import "./assets/scss/base/base";
@import "./assets/scss/base/typography";
@import "./assets/scss/components/carousel.scss";
@import "./assets/scss/components/ngSelect.scss";
@import "./assets/scss/components/ng5-slider.scss";
@import "./assets/scss/components/datePicker.scss";
@import "~@ng-select/ng-select/themes/default.theme.css";
@import "~ngx-owl-carousel-o/lib/styles/scss/owl.carousel";
@import "~ngx-owl-carousel-o/lib/styles/scss/owl.theme.default";
@font-face {
    font-family: 'Nunito';
    src: url(./assets/fonts/nunito/Nunito-Regular.ttf) format("truetype");
    font-weight: 300;
}

@font-face {
    font-family: 'BYekan';
    src: url(./assets/fonts/BYekan/IRYekan.ttf) format("truetype");
    font-weight: 100;
}

* {
    font-size: 10px;
    direction: ltr;
    user-select: none;
    font-family: Nunito;
}