.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tab {
    padding: 2rem 0 0 0;
}

.tab li {
    list-style: none;
    display: inline;
}

.tab a {
    color: #555;
    font-size: 1.6rem;
    font-family: BYekan;
    text-decoration: none;
    padding: 0rem 4rem 0rem 4rem;
    margin: 1rem;
}

.tab a:hover {
    border-bottom: .3rem solid #83965e;
}

.activeTab {
    border-bottom: .3rem solid #83965e;
}