<ul class="tab center">

    <li>
        <a [ngClass]="{activeTab: activeTab == 'register'}" (click)="changeTab('register')"> ثبت نام</a>
    </li>
    <li>
        <a [ngClass]="{activeTab: activeTab == 'login'}" (click)="changeTab('login')"> ورود</a>
    </li>
</ul>
<app-login *ngIf="activeTab == 'login'"></app-login>
<app-register *ngIf="activeTab == 'register'"></app-register>